[Desktop Entry]
Name=Bitwarden
Comment=Access your Bitwarden vault

Icon=/usr/share/plasma/plasmoids/com.github.sleeuwen.plasmabitwarden/contents/icons/bitwarden.svg
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=sleeuwen
X-KDE-PluginInfo-Email=stephan.vanleeuwen5@gmail.com
X-KDE-PluginInfo-Name=com.github.sleeuwen.plasmabitwarden
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
